{% extends 'base.html.twig' %}

{% block title %}Room Types{% endblock %}

{% block body %}
    <h1>Room Types</h1>

    <a href="{{ path('app_room_type_new') }}">Create new</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room_type in room_types %}
            <tr>
                <td>{{ room_type.id }}</td>
                <td>{{ room_type.name }}</td>
                <td>{{ room_type.description }}</td>
                <td>
                    <a href="{{ path('app_room_type_show', {'id': room_type.id}) }}">show</a>
                    <a href="{{ path('app_room_type_edit', {'id': room_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No room types found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
